<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">

        <!-- First Featurette -->
        <h2 class="featurette-heading">About <span class="text-muted">me</span></h2>

        <div class="featurette" id="about">
            
            <img class="featurette-image img-rounded img-responsive pull-right" src="images/me.png" width="120" height="120">

            <p class="lead">I'm a passionate developer primarily focused around .NET and Microsoft stack. I've recently started learning
                the latest "cool kids" stuff like AngularJS, Bootstrap, Node.js etc. and found them very sth. I currently
                live in Hampshire, UK. Test
            </p>
        </div>
        <div class="col-sd-4">

            <br />

            <span class="label label-primary">WPF</span>
            <span class="label label-default">HTML</span>
            <span class="label label-primary">CSS</span>
            <span class="label label-default">ASP.NET MVC</span>
            <span class="label label-primary">AngularJS</span>
            <span class="label label-default">Visual Studio 2010+</span>
            <span class="label label-primary">Visual Studio Code</span>
            <span class="label label-default">Windows 7</span>
            <span class="label label-primary">OS X</span>
            <span class="label label-default">GIT</span>
            <span class="label label-primary">TFS</span>
            <span class="label label-default">Win Forms</span>
            <span class="label label-primary">T-SQL</span>
            <span class="label label-default">.NET</span>
            <span class="label label-primary">C#</span>

        </div>

        <div class="col-sd-8">
            <br />
            <span class="label label-default">
                <i class="fa fa-car fa-lg"></i> + 
                <i class="fa fa-road fa-lg"></i></span>
            <span class="label label-danger">
                <i class="fa fa-coffee fa-lg"></i> + 
                <i class="fa fa-code fa-lg"></i></span>
            <span class="label label-default">
                <i class="fa fa-beer fa-lg"></i> + 
                <i class="fa fa-gamepad fa-lg"></i></span>
            <span class="label label-danger">
                <i class="fa fa-music fa-lg"></i> + 
                <i class="fa fa-headphones fa-lg"></i></span>
        </div>

        <br />
        <br />

        <div class="center-block">
                <span>Download CV <i class="fa fa-download fa-lg"></i></span>
        </div>

    </div>
</section>