<!-- Contact Section -->
<section id="contact" class="contact-section" ng-controller="ContactCtrl">
    <div class="container">
        <address class="center-block">
            <i class="fa fa-envelope-o fa-2x"></i>
            <span class="top">Hampshire, United Kingdom</span>
            <span><i class="fa fa-phone-square fa-lg"></i>
            +44 (0)77 9991 3867</span>
            <span class="top"><strong>Roman Kwiaton</strong></span>
            <span><a href="mailto:rkwiaton@gmail.com">rkwiaton@gmail.com</a></span>
            <span class="top"><strong>Social networks</strong></span>
            <span><i class="fa fa-linkedin-square fa-lg"></i>
            <i class="fa fa-facebook-square fa-lg"></i></span>
            </address>

        <div class="copyright">
            <span>copyright &copy; 2016 - roman kwiaton</span>
        </div>
    </div>
</section>